<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-header align-items-center d-flex">
                <h4 class="card-title mb-0 flex-grow-1">Vehicles</h4>
                <div class="flex-shrink-0">
                    <button type="button" class="btn btn-sm btn-info edit-item-btn"
                        (click)="navigateToAddVehicle()">+Add New Vehicle</button>
                </div>
            </div><!-- end card header -->
            <div class="card-body pt-0">
                <div id="customerList">


                    <div class="table-responsive table-card mt-0 mb-1">
                        <p-table #dtvehicles [value]="vehicles" [paginator]="true" [rows]="10"
                        [globalFilterFields]="['Registration_Number','Brand','Model_Name','Color']">
                            <ng-template pTemplate="caption">
                                <div class="flex">
                                    <span class="p-input-icon-left ml-auto">
                                        <i class="pi pi-search"></i>
                                        <input pInputText type="text" (input)="dtvehicles.filterGlobal($any($event.target).value, 'contains')" placeholder="Search keyword" />
                                    </span>
                                </div>
                            </ng-template>
                            <ng-template pTemplate="header">
                                <tr>
                                    <th class="sort" pSortableColumn="Registration_Number"># <p-sortIcon field="Registration_Number"></p-sortIcon></th>
                                    <th class="sort" pSortableColumn="Brand">Brand <p-sortIcon field="Brand"></p-sortIcon></th>
                                    <th class="sort" pSortableColumn="Model_Name">Model <p-sortIcon field="Model_Name"></p-sortIcon></th>
                                    <th class="sort" pSortableColumn="Color">Color <p-sortIcon field="Color"></p-sortIcon></th>
                                    <th class="sort" pSortableColumn="VehicleTypeID">Type <p-sortIcon field="VehicleTypeID"></p-sortIcon></th>
                                    <th class="sort" >Driver</th>
                                    <th class="sort" >Status</th>
                                    <th class="sort text-end">Action</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-vehicle>
                                <tr  >
                                    <td class="fw-bold text-success">
                                        <span (click)="navigateToVehicleDetails(vehicle.C_Id)" style="cursor: pointer;">
                                            {{vehicle.Registration_Number}}
                                        </span>
                                    </td>
                                    <td class="email">{{vehicle.Brand}}</td>
                                    <td class="phone">{{vehicle.Model_Name}}</td>
                                    <td class="date">{{vehicle.Color}}</td>
                                    <td>{{vehicle.VehicleType}}</td>
                                    <td>{{vehicle.DriverName}}</td>
                                    <td class="status"><span
                                            class="badge badge-soft-success text-uppercase">Active</span></td>
                                    <td>
                                        <div class="d-flex gap-2 justify-content-end">
                                            <div class="edit">
                                                <button class="btn btn-sm btn-success edit-item-btn"
                                                    (click)="navigateToVehicleDetails(vehicle.C_Id)">
                                                    <i class="ri-pages-line"></i> View</button>
                                            </div>
                                            <div class="remove">
                                                <button class="btn btn-sm btn-danger remove-item-btn"
                                                    (click)="onRemoveVehicleClick(vehicle.C_Id)">Remove</button>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
             
                        
                    </div>


                </div>
            </div><!-- end card -->
        </div><!-- end card -->
    </div>
</div>