/* You can add global styles to this file, and also import other style files */
.p-component{
    font-size: 12px;
}

select.form-control {
    -moz-appearance:auto; /* Firefox */
    -webkit-appearance:auto; /* Safari and Chrome */
    appearance:auto;
}