<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-header align-items-center d-flex">
                <h4 class="card-title mb-0 flex-grow-1">Customer</h4>

            </div><!-- end card header -->
            <div class="card-body pt-0">
                <div style="margin-bottom: 15px;"></div>

                <table class="table" *ngIf="customer">
                    <tr>
                        <td><strong> Name</strong></td>
                        <td>{{customer.Name}}</td>
                    </tr>
                    <tr>
                        <td><strong>Phone</strong> </td>
                        <td>{{customer.Phone}}</td>
                    </tr>
                    <tr>
                        <td><strong>Address</strong></td>
                        <td>{{customer.Address}}</td>
                    </tr>
                    <tr>
                        <td><strong>Email</strong></td>
                        <td>{{customer.Email}}</td>
                    </tr>
                </table>

                <div class="d-flex justify-content-center">
                    <a href="/#/customers" class="btn btn-soft-dark mt-5">Back to customers</a>
                </div>
            </div>
        </div>
    </div>
</div>