<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-header align-items-center d-flex">
                <h4 class="card-title mb-0 flex-grow-1">Reviews</h4>

            </div><!-- end card header -->
            <div class="card-body pt-0">

                <ul>
                    <li *ngFor="let review of reviews" style="list-style: none;">
                        <div class="user-comment">
                            <div class="comment-top">
                                <div class="comment-left">
                                    <div class="avatar-sm p-1 py-2 h-auto bg-light rounded-3">
                                        <div class="text-center">
                                            <div class="text-muted">Tue</div>
                                            <h5 class="mb-0">25</h5>
                                            <small class="text-muted">{{getMonthName(review.CreatedOn)}}</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="comment-center">
                                    <div class="comment-user-name">{{review.Name}}</div>
                                    <div class="comment-user-email text-muted">{{review.Email}}</div>
                                    <div class="comment-text">
                                        {{review.Comments}}
                                    </div>
                                </div>
                                <div class="comment-right">
                                    <span><span class="badge bg-light text-body fs-12 fw-medium"><i
                                                class="mdi mdi-star text-warning me-1"></i>
                                            {{review.StarRating}}</span></span>
                                </div>
                            </div>
                            <div class="comment-bottom"></div>
                        </div>
                    </li>
                </ul>

            </div>
        </div>
    </div>
</div>