<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-header align-items-center d-flex">
                <h4 class="card-title mb-0 flex-grow-1">Bookings</h4>

            </div><!-- end card header -->
            <div class="card-body pt-0">
                <div style="margin-bottom: 15px;"></div>
                <p-table #dtBooking [value]="bookings" [paginator]="true" [rows]="10"
                    [globalFilterFields]="['book.TripNumber','book.StartLocation','book.EndLocation','car.Model_Name','driver.Name' ]">
                    <ng-template pTemplate="caption">
                        <div class="flex">
                            <span class="p-input-icon-left ml-auto">
                                <i class="pi pi-search"></i>
                                <input pInputText type="text"
                                    (input)="dtBooking.filterGlobal($any($event.target).value, 'contains')"
                                    placeholder="Search keyword" />
                            </span>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="header">
                        <tr>
                            <th pSortableColumn="TripNumber"># <p-sortIcon field="TripNumber"></p-sortIcon>
                            </th>
                            <th pSortableColumn="StartLocation">From <p-sortIcon field="StartLocation">
                                </p-sortIcon>
                            </th>
                            <th pSortableColumn="EndLocation">To <p-sortIcon field="EndLocation"></p-sortIcon>
                            </th>
                            <th pSortableColumn="Carname">Vehicle <p-sortIcon field="Carname">
                                </p-sortIcon>
                            </th>
                            <th pSortableColumn="VehicleType">Type <p-sortIcon field="VehicleType"></p-sortIcon>
                            </th>
                            <th pSortableColumn="Distance">Distance <p-sortIcon field="Distance"></p-sortIcon>
                            </th>
                            <th pSortableColumn="Status">Status <p-sortIcon field="Status"></p-sortIcon>
                            </th>

                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-trip>
                        <tr>
                            <td>
                                <span class="tripId" (click)="viewBookingDetails(trip)">{{trip.TripNumber}}</span>
                            </td>
                            <td>{{trip.StartLocation}}</td>
                            <td>{{trip.EndLocation}}</td>
                            <td>{{trip.Carname}}</td>
                            <td>{{trip.VehicleType}}</td>
                            <td>{{trip.Distance}} KM</td>
                            <td>{{trip.Status}}</td>

                        </tr>
                    </ng-template>
                </p-table>

            </div>
        </div>
    </div>
</div>


<p-sidebar [(visible)]="displayBookingDetails" position="right" [style]="{width:'50%'}">
    <div *ngIf="selectedBooking">
        <table class="table table-trip-details">
            <tr>
                <td><strong>Trip Number#</strong></td>
                <td>{{selectedBooking.TripNumber}}</td>
            </tr>
            <tr>
                <td><strong>From</strong></td>
                <td>{{selectedBooking.StartLocation}}</td>
            </tr>
            <tr>
                <td><strong>To</strong></td>
                <td>{{selectedBooking.EndLocation}}</td>
            </tr>
            <tr>
                <td><strong>Vehicle</strong></td>
                <td>
                    <div class="align-items-center d-flex justify-content-between">

                        <span>{{selectedBooking.Carname}}</span>
                        <img class="img-thumbnail" [src]="getCarImage()" alt="" width="200" data-holder-rendered="true">
                    </div>

                </td>
            </tr>
            <tr>
                <td><strong>Driver</strong></td>
                <td>{{selectedBooking.DriverName}}</td>
            </tr>
            <tr>
                <td><strong>Distance</strong></td>
                <td>{{selectedBooking.Distance}} KM</td>
            </tr>
            <tr>
                <td><strong>Amount</strong></td>
                <td>{{selectedBooking.Amount}}</td>
            </tr>
            <tr>
                <td><strong></strong></td>
                <td></td>
            </tr>
        </table>
    </div>
</p-sidebar>