<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-header align-items-center d-flex">
                <h4 class="card-title mb-0 flex-grow-1">Offers</h4>
                <div class="flex-shrink-0">
                    <a href="/#/offers/0" class="btn btn-sm btn-info edit-item-btn">+ Add new Offer</a>
                </div>
            </div><!-- end card header -->
            <div class="card-body pt-0">
                <div class="table-responsive table-card mt-0 mb-1">
                    <p-table [value]="offers" [paginator]="true" [rows]="10">
                        <ng-template pTemplate="header">
                            <tr>
                                <th>Name</th>
                                <th>Percentage</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th></th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-offer>
                            <tr>
                                <td>{{offer.Name}}</td>
                                <td>{{offer.Percentage}}%</td>
                                <td>{{offer.StartDate|date}}</td>
                                <td>
                                    {{offer.EndDate|date}}
                                </td>
                                <td>
                                    <div class="d-flex gap-2 justify-content-end">
                                        <div class="edit">
                                            <button class="btn btn-sm btn-success edit-item-btn"
                                                (click)="navigateToOfferDetails(offer.ID)">View</button>
                                        </div>
                                        <div class="remove">
                                            <button class="btn btn-sm btn-danger remove-item-btn"
                                                (click)="onRemoveOfferClick(offer.ID)">Remove</button>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>
    </div>
</div>