<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-header align-items-center d-flex">
                <h4 class="card-title mb-0 flex-grow-1">Emergency</h4>
                <div class="flex-shrink-0">
                    <button type="button" *ngIf="mode=='view'" class="btn btn-success waves-effect waves-light"
                        (click)="switchToEditMode()">Edit</button>
                </div>
            </div><!-- end card header -->
            <div class="card-body pt-0">

                <table class="table" *ngIf="emergency">
                    <tr>
                        <td><strong>Location</strong></td>
                        <td>

                            <span *ngIf="mode=='view'">{{emergency.Location}}</span>
                            <ng-container *ngIf="mode=='edit'">
                                <input class="form-control" type="text" [(ngModel)]="emergency.Location">
                            </ng-container>
                        </td>
                    </tr>
                    <tr>
                        <td><strong>Phone</strong></td>
                        <td><span *ngIf="mode=='view'">{{emergency.ContactNumber}}</span>
                            <ng-container *ngIf="mode=='edit'">
                                <input class="form-control" type="text" [(ngModel)]="emergency.ContactNumber">
                            </ng-container>
                        </td>
                    </tr>
                    <tr>
                        <td><strong>Type</strong></td>
                        <td><span *ngIf="mode=='view'">{{emergency.Type}}</span>
                            <ng-container *ngIf="mode=='edit'">
                                <input class="form-control" type="text" [(ngModel)]="emergency.Type">
                            </ng-container>
                        </td>
                    </tr>
                      
                    <tr></tr>
                </table>

                <div class="d-flex justify-content-center" *ngIf="mode=='view'">
                    <a href="/#/emergency" class="btn btn-soft-dark mt-5">Back to emergencies</a>
                </div>
            </div>
            <div class="card-footer" *ngIf="mode=='edit'">
                <div class="d-flex gap-2 justify-content-end">

                    <button class="btn btn-outline-secondary waves-effect waves-light" (click)="mode='view'">Cancel
                    </button>
                    <button class="btn btn-primary waves-effect waves-light" (click)="onSaveClick()">Save </button>
                </div>
            </div>
        </div>
    </div>
</div>