<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-header align-items-center d-flex">
                <h4 class="card-title mb-0 flex-grow-1">Emergency</h4>
                <div class="flex-shrink-0">
                    <a href="/#/emergency/0" class="btn btn-success waves-effect waves-light">+ Add new emergency</a>
                </div>
            </div><!-- end card header -->
            <div class="card-body pt-0">
                <div class="table-responsive table-card mt-0 mb-1">
                    <p-table [value]="emergencies" [paginator]="true" [rows]="10">
                        <ng-template pTemplate="header">
                            <tr>
                                <th>Location</th>
                                <th>Phone</th>
                                <th>Type</th>
                                <th></th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-eme>
                            <tr>
                                <td>{{eme.Location}}</td>
                                <td>{{eme.ContactNumber}}</td>
                                <td>{{eme.Type}}</td>
                                <td class="d-flex justify-content-end">
                                    <div class="edit">
                                        <button class="btn btn-sm btn-success edit-item-btn"
                                            (click)="navigateToEmeDetails(eme.ID)">
                                            <i class="ri-pages-line"></i>
                                            View</button>
                                    </div>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>
    </div>
</div>