<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="card-header align-items-center d-flex">
                <h4 class="card-title mb-0 flex-grow-1">Customers</h4>

            </div><!-- end card header -->
            <div class="card-body pt-0">
                <div class="table-responsive table-card mt-0 mb-1">
                    <p-table #dtCustomers [value]="customers" [paginator]="true" [rows]="10"
                        [globalFilterFields]="['Name','Phone','Email' ]">
                        <ng-template pTemplate="caption">
                            <div class="flex">
                                <span class="p-input-icon-left ml-auto">
                                    <i class="pi pi-search"></i>
                                    <input pInputText type="text"
                                        (input)="dtCustomers.filterGlobal($any($event.target).value, 'contains')"
                                        placeholder="Search keyword" />
                                </span>
                            </div>
                        </ng-template>
                        <ng-template pTemplate="header">
                            <tr>
                                <th pSortableColumn="Name">Name <p-sortIcon field="Name"></p-sortIcon>
                                </th>
                                <th pSortableColumn="Phone">Phone <p-sortIcon field="Phone"></p-sortIcon>
                                </th>
                                <th pSortableColumn="Email">Email <p-sortIcon field="Email"></p-sortIcon>
                                </th>
                                <th></th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-customer>
                            <tr>
                                <td>{{customer.Name}}</td>
                                <td>{{customer.Phone}}</td>
                                <td>{{customer.Email}}</td>
                                <td class="d-flex justify-content-end">
                                    <div class="edit">
                                        <button class="btn btn-sm btn-success edit-item-btn"
                                            (click)="navigateToCustomerDetails(customer.ID)">
                                            <i class="ri-pages-line"></i>
                                            View</button>
                                    </div>
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>
    </div>
</div>